DIFY_API_KEY=
I18N_WORKDIR=
DIFY_PROXY=http://127.0.0.1:30001/rest
MCP_PROXY=http://127.0.0.1:30001/rest
LCC_GW_NAME=language-configuration-center
MCP_PROXY_DC=central_p2_dc
ULP_COOKIE=ulp_token={{ulp_token}}
RUN_DATE=20260907
